#demosite-activate-wrap, #demosite-activate-wrap * {
	*zoom: 1;
}
/*
 * Set up Open Sans
 */
#demosite-activate-wrap,
#demosite-activate-wrap h3 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}
/*
 * The main bar
 */
#demosite-activate-wrap {
	background-color: #fff;
	font-size: 14px;
	font-weight: normal !important;
	height: 80px;
	line-height: 1;
	padding: 0;
	z-index: 99998;
	text-align: center !important;
	box-shadow: inset 0 -1px 0 rgba( 0, 0, 0, 0.3 ), 0 1px 3px rgba( 0, 0, 0, 0.2 );
}
#demosite-activate-wrap.demosite-full-width {
	text-align: center !important;
}
#demosite-activate-wrap a {
	font-weight: normal;
}
/*
 * Centered wrapper
 */
.demosite-header {
	max-width: 1000px;
	margin: 0px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px 16px;
}
/*
 * The main header title
 */
.demosite-tagline {
	color: #111;
	display: inline-block;
	font-size: 20px;
	margin: 0;
}
.demosite-activate {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999;
}
body.logged-in .demosite-activate, 
body.admin-bar .demosite-activate {
	top: 32px !important;
}
/*
 * Main button
 */
#demosite-activate-wrap .demosite-activate-trigger {
	background: #111;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	margin-left: 16px;
	margin-top: 0;
	padding: 15px;
	text-align: center;
	text-decoration: none !important;
	border-width: 2px;
	border-style: solid;
	border-color: #111;
}
#demosite-activate-wrap .demosite-activate-trigger:hover {
	background: #fff;
	color: #111;
}
/* Open status */
#demosite-activate-wrap .demosite-activate-trigger.open,
#demosite-activate-wrap .demosite-activate-trigger:active {
	background: #ddd;
	color: #111;
}

#demosite-activate-wrap .demosite-activate-logo path {
	fill: #111;
}

#demosite-activate-wrap .demosite-activate-logo {
	margin-right: 16px;
	display: inline-block;
}

#demosite-activate-wrap .demosite-activate-cta-arrow {
	display: none;
	background: transparent;
	border: 0px;
	padding: 16px;
	margin-right: -16px;
}

#demosite-activate-wrap .demosite-activate-cta-arrow path {
	stroke: #111;
}
/*
 * Theme price
 */
.demosite-activate .theme-price {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	opacity: 0.8;
}
.demosite-activate .theme-price abbr {
	font-size: 10px;
	font-weight: 400;
	position: relative;
	top: -5px;
	left: -1px;
}

@media (max-width: 800px) {
	.demosite-tagline {
		font-size: 16px;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		font-size: 16px;
	}
}

@media ( max-width: 782px) {
	body.logged-in .demosite-activate { /* Move the activate bar below the admin bar */
		top: 46px !important;
	}
}

@media ( max-width: 700px ) {
	.demosite-header {
		justify-content: left;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		margin-left: 30px;
		display: none;
	}
	.demosite-tagline {
		font-size: 18px;
		flex-grow: 1;
		text-align: left;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		margin-left: 0;
		width: 80%;
	}
	#demosite-activate-wrap .demosite-activate-cta-arrow {
		display: inline-block;
	}
}

@media (max-width: 520px) {
	#demosite-activate-wrap .demosite-activate-trigger {
		border-radius: 0;
		box-shadow: inset 0 -1px 0 rgba( 0, 0, 0, 0.3 ), 0 1px 3px rgba( 0, 0, 0, 0.2 );
		box-sizing: border-box;
	}
}

#infinite-footer {
	display: none !important;
}

body.demo-site {
	margin-top: 80px !important;
}
@media screen and (max-width: 620px) {
	body.demo-site {
		margin-top: 100px !important;
	}
}
@media screen and (max-width: 600px) {
	body.demo-site .demosite-activate {
		position: absolute;
	}
}

body.demo-site.logged-in {
	margin-top: 112px !important;
}

@media screen and (max-width: 782px) {
	body.demo-site.logged-in {
		margin-top: 126px !important;
	}
}
/* @media screen and (max-width: 620px) {
	body.demo-site.logged-in {
		margin-top: 146px !important;
	}
} */